<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card color="light">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-img src="/assets/images/painted_stork.jpg"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-justify>
                        Birds in Sri Lanka mobile app is published by eModels Technologies (Pvt) Lts. provides portable and
                        affordable photographic guides to Sri Lanka's fauna and flora. It is hoped that this mobile app will
                        be a first step towards learning the identification at species level.
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-justify>
                        This mobile app includes photographs of 263 of Sri Lanka's 442 recorded species of resident and
                        migratory birds. You can easily find most of the birds in Sri Lanka from this mobile app and get a vast knowledge of any bird.
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
