<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="endemic">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Endemic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="migrant">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Migrant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="birds-list/search/all">
      <ion-icon name="apps"></ion-icon>
      <ion-label>View All</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
