<ion-tabs class="header-bg">

  <ion-tab-bar slot="bottom" class="header-bg">
    <ion-tab-button tab="home" class="header-bg">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="endemic" class="header-bg">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Endemic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="migrant" class="header-bg">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Migrant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="birds-list/search/all" class="header-bg">
      <ion-icon name="apps"></ion-icon>
      <ion-label>View All</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
