<ion-header>
  <ion-searchbar placeholder="Birds in Sri Lanka" (ionInput)="searchBirds($event)"></ion-searchbar>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
      <ion-avatar slot="end" *ngIf="titleImage">
          <ion-img [src]="'assets/images/' + titleImage"></ion-img>
      </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-list-header>
            <ion-label class="ion-padding-bottom">Enlarge Images</ion-label>
            <ion-toggle [(ngModel)]="enlargeImages" class="ion-padding-bottom"></ion-toggle>
        </ion-list-header>

        <ion-item-divider color="medium">
          <ion-label>Birds Listing</ion-label>
        </ion-item-divider>

        <ion-virtual-scroll [items]="birds" *ngIf="!enlargeImages">
            <ion-item *virtualItem="let bird; let itemBounds = bounds;" (click)="viewBird(bird)" button="true" detail="true">

              <ion-avatar slot="start">
                  <ion-img [src]="'assets/images/' + bird.image"></ion-img>
              </ion-avatar>
              <ion-label><h2>{{bird.name}}</h2></ion-label>

            </ion-item>
        </ion-virtual-scroll>

        <ion-virtual-scroll [items]="birds" *ngIf="enlargeImages">
            <ion-item *virtualItem="let bird; let itemBounds = bounds;" (click)="viewBird(bird)" button="true" detail="true">

                <ion-card>
                    <ion-img [src]="'assets/images/' + bird.image" style="height: 200px"></ion-img>
                    <ion-card-header>
                        <ion-card-title>{{bird.name}} / {{bird.sinhala}}</ion-card-title>
                    </ion-card-header>
                </ion-card>

            </ion-item>
        </ion-virtual-scroll>

    </ion-list>

</ion-content>
