<ion-app>

  <ion-split-pane contentId="menu-content">

    <!--  our side menu  -->
    <ion-menu side="start" menuId="first" contentId="menu-content" type="reveal">
      <ion-header>
        <ion-toolbar class="menu-bg menu-height">
          <ion-label padding class="menu-text">Birds in Sri Lanka</ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item (click)="navigateSideMenu('tabs/birds-list/migrant/all')">Migrant Birds</ion-item>
          <ion-item (click)="navigateSideMenu('tabs/birds-list/endemic/all')">Endemic Birds</ion-item>
          <ion-item (click)="navigateSideMenu('tabs/birds-list/search/all')">All Birds</ion-item>
          <ion-item (click)="navigateSideMenu('birds-in-sri-lanka')">Birds in Sri Lanka</ion-item>
          <ion-item (click)="navigateSideMenu('aboutus')">About Us</ion-item>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="dark">
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button color="success"><ion-icon name="logo-facebook"><a href="https://www.facebook.com/groups/birdwatchingsrilanka" target="_blank"></a></ion-icon></ion-fab-button>
            <ion-fab-button color="success"><ion-icon name="logo-instagram"><a href="https://www.instagram.com/birdwatchinginsrilanka/?hl=en" target="_blank"></a></ion-icon></ion-fab-button>
            <ion-fab-button color="success"><ion-icon name="logo-twitter"><a href="https://twitter.com/bird_sri" target="_blank"></a></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-content>
      <ion-footer>
        <ion-toolbar class="menu-bg">
          <ion-grid class="menu-bg">
            <ion-row>
              <ion-col>
                <ion-label>&copy; 2019 Birds in Sri Lanka.</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Designed By eModels Technologies (Pvt) Ltd.</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
