.menu-bg{
  background-color: #005200 !important;
  --background: #005200 !important;
  color: #fff !important;
}
.menu-height{
  height: 68px !important;
  padding: 10px 0px !important;
}
.footer-height{
  height: 51px !important;
  padding: 5px 0px !important;
}
.menu-text{
  font-size: 24px !important;
}