<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Birds in Sri Lanka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="light">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col text-justify>
            Sri Lanka is a tropical island situated close to the southern tip of India. The bird life of Sri
            Lanka is very rich for its size and about 433 species have been recorded. In addition to the
            many resident birds, a considerable number of migratory species winter in the country to escape
            their northern breeding grounds.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            There are 452 species which are resident, of which 33 are endemic. The other resident species
            are also found in the nearby Indian mainland, but over 80 have developed distinct Sri Lankan
            races. Some of these races are very different in their plumage characteristics from the related
            forms in India.
          </ion-col>
        </ion-row>
        <ion-row text-justify>
          <ion-col>
            Bird distribution in Sri Lanka is largely determined by its climatic zones. The dry zone is
            largest of the three, covering more than half of the island, with a prolonged dry and hot period
            and only one monsoon (the north east monsoon from October to January).
          </ion-col>
        </ion-row>
        <ion-row text-justify>
          <ion-col>
            The wet zone, with two monsoons, is in the south western quarter of the island, where the few
            remaining rain forests are found and humidity is high.
          </ion-col>
        </ion-row>
        <ion-row text-justify>
          <ion-col>
            The central hill zone rises to over 2450 m (8-10,000 ft) and has a cool temperate climate. Most
            of the 26 endemic species are confined to the wet and the hill zones, with only a few extending
            into the dry zone as well.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
