<ion-header>
  <ion-toolbar class="header-bg">
    <ion-title></ion-title>
      <ion-searchbar [(ngModel)]="searchQuery" placeholder="Birds in Sri Lanka" (change)="searchBirds($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-slides pager="false" [options]="{autoplay:true}">
        <ion-slide *ngFor="let category of categories" (click)="viewCategory(category)">
            <ion-img [src]="'assets/images/' + category.image"></ion-img>
        </ion-slide>
    </ion-slides>

  <ion-list>
    <ion-list-header>
       <ion-label>Categories</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let category of categories" (click)="viewCategory(category)">
       <ion-avatar slot="start">
           <ion-img [src]="'assets/images/' + category.image"></ion-img>
       </ion-avatar>
       <ion-label><h2>{{category.name}} / {{category.sinhala}}</h2></ion-label>
       <ion-icon name="arrow-forward" color="medium" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
