.header-bg{
  background-color:#006600;
}
.text-white{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.search-box-fade{
  background-color: #fff;
  opacity: 0.5;
}

.header-bg input {
  background-color: white !important;
}